name: Build by matrix
on:
  pull_request:
  push:
    tags:
      - v*
    branches:
      - main
  schedule:
    - cron: 0 0 * * *

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x, 1.26.x]
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Go build
      run: go build ./cmd/warp
