name: Integration
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Integration test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.24.x, 1.25.x, 1.26.x]
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}
    - name: Go test
      run: make integration
